@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    border: 0;
    outline: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #000000, #170e13, #221721, #2a2133, #2c2c47, #3a355c, #4a3d71, #5e4586, #9b3e8a, #d23175, #f63b4e, #ff6500);
    padding: 10px;
}

.lista-compras_app {
    width: 100%;
    max-width: 540px;
    background: rgba(250, 250, 250, 0.637);
    margin: 100px auto 20px;
    padding: 30px 30px 70px;
    border-radius: 20px;
    
    h2 {
        color: #170e13;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    img {
        width: 40px;
        margin-left: 10px;
    }

    ul {

        li {
            list-style: none;
            font-size:  17px;
            padding: 12px 8px 12px 50px;
            user-select: none;
            cursor: pointer;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                height: 28px;
                width: 28px;
                border-radius: 50%;
                background-image: url(images/unchecked.png);
                background-size: cover;
                background-position: center;
                top: 12px;
                left: 8px;
            }
        }

        .checked {
            color: #555;
            text-decoration: line-through;
        
            &::before {
                background-image: url(images/checked.png);
            }
        }

        span {
            position: absolute;
            right: 0;
            top: 5px;
            width: 40px;
            height: 40px;
            font-size: 22px;
            color: #555;
            line-height: 40px;
            text-align: center;

            &:hover {
                background-color:#d23175;
                border-radius: 50%;
                color: white;
            }
        }
    }
}




.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

    input {
        flex: 1;
        background: transparent;
        padding: 10px;
        font-size: 14px;
    }

    button {
        padding: 16px 50px;
        background-color: #d23175;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 40px;
    }
}